@charset "UTF-8";


body {
	background-image: url("background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
 .wrapper {
 	position: relative;
 	height: 100%;
 }
 .input-field {
 	margin-bottom: 20px;
 }
#login_frame {
	box-sizing: border-box;
    width: 400px;

    padding: 20px;
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
 
    background-color:rgba(240, 255, 255, 0.5);
 
    border-radius: 10px;
    text-align: center;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}
 
#image_logo {
    margin-top: 22px;
}
 
.label_input {
    font-size: 18px;
    font-family: 宋体;
 
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 
.text_field {
    width: 278px;
    height: 40px;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
#btn_login {
    font-size: 18px;
    font-family: 宋体;
    width: 120px;
    height: 40px;
    line-height: 28px;
    text-align: center;

    color: white;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;
    float: left;
}
 
.forget_pwd {
    font-size: 18px;
    color: #0c0c0c;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
 
}
 
#login_control {
    padding: 0 28px;
}